name: Ubuntu 

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Makefile
        run: |
          make &&
          ./unit 
      - name: Use CMake
        run: |
          cmake -B build &&
          cmake --build build &&
          ctest --test-dir build

