name: Ubuntu 

on: [push, pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Makefile
        run: |
          make &&
          ./unit 
